/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}



/* ==== BASE STYLES ==== */

body {
  font-family: Monsterrat, 'Times New Roman', serif;
}

h1,
h2 {
  font-family: 'Droid Serif', Arial, sans-serif;
}

h1 {
  font-size: 1.5625rem;
}

h2 {
  font-size: 1.375rem;
}

.name p {
  font-size: 1.125rem;
  letter-spacing: 0.125rem;
}


body {
  /*height: 100vh;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('http://i.imgur.com/GsUL6FT.jpg') no-repeat center center fixed;
  background-size: cover;
  font-size: 1.125rem;  
}

.fooldal {
  margin: 0.5rem;
  width: 43.75rem;
  max-width: calc(700px - 0.625rem);
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 0.625rem;
  box-shadow: hsla(0, 0%, 0%, .8) 0.625rem 0.625rem 5rem;
}

.head {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  color: #12374D;
}

.profilkep {
  width: 12.5rem;
  padding-bottom: 100%;
  border-radius: 35%;
  margin-top: 0.5rem;
  padding: 0.0625rem;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
}

.profilkep:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  box-shadow: 0.625rem 0.625rem 0.125rem black, 0 0 1.5625rem green, 0 0 0.3125rem darkgreen;
}

em {
  text-decoration: line-through;
  font-style: normal;
}

.content {
  width: 90%;
  margin: 0 auto;
  padding: 5% 10%;
  border-top: 0.2rem solid hsla(0, 0%, 30%, .8);
  line-height: 2rem;
  color: #1E2042;
}

.links {
  text-align: center;
  border-top: 0.2rem solid hsla(0, 0%, 30%, .8);
}

#mail {
  text-decoration: none;
  color: black;
  font-style: italic;
}
#mail:hover {
  color: white;
}

.head, .details {
  margin-bottom: 5%;
}

.pictures {
  margin-top: 5%;
}

.pic {
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
  width: 3.125rem;
}
.pic:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}
