        /* ==== GENERAL STYLES ==== */

* {
  /*display: block;*/
  font-size: .8rem;
}

body {
  /*float: left;
  position: relative;*/
}

img {
  max-width: 100%;
}

/* ---- LEFT NAV STYLES ---- */

.leftnav {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  padding-left: .5rem;
  background: lightgrey; /*hogy látszódjon*/
}

.navcolumn {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  line-height: 1.3rem;
}

a:hover {
  text-decoration: underline;
}

.leftnavlabel {
  margin: 1rem 0 .3rem 0;
  border-bottom: 0.1rem solid lightgrey;
}

.left {
  float: left;
}

.editlink {
  float: right;
}

/* ---- RIGHT SIDE BOX STYLES ---- */

.rightbox {
  float: right;
  width: 15rem;
  border: 0.1rem solid lightgrey;
  padding: 0 1rem;
  margin: 1rem;
}

.rightbox-label {
  margin: .3rem;
}

.centre {
  text-align: center;
}


/* ---- ARICLE STYLES ---- */

.content {
  margin-left: 11rem;
  width: auto;
  font-size: .9rem;
  font-family: sans-serif;
  
}

