        /* ==== GENERAL STYLES ==== */

* {
  display: block;
  font-size: .8rem;
}

/* ---- LEFT NAV STYLES ---- */

.leftnav {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  padding-left: .5rem;
  background: lightgrey; /*hogy látszódjon*/
}

.navcolumn {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  line-height: 1.3rem;
}

a:hover {
  text-decoration: underline;
}

.leftnavlabel {
  margin: 1rem 0 .3rem 0;
  border-bottom: 0.1rem solid lightgrey;
}

.editlink {
  text-align: right;
}

/* ---- RIGHT SIDE BOX STYLES ---- */

.rightbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 15rem;
  border: 0.1rem solid lightgrey;
  padding: 0 1rem;
  background: lightblue; /*hogy látszódjon*/
}

.rightbox-label {
  margin: .3rem;
}

/* ---- ARICLE STYLES ---- */

.content {
  margin-left: 11rem;
}